body{
    background-image: url(/images/men.jpg);
}

a{
    text-decoration: none;
}
#about a
{

    border-radius: 5px;
    padding: 15px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    background-color: crimson;
}